@font-face {
    font-family: Roboto-Light;
    src: url('../fonts/Roboto-Light.ttf');
  }

  @font-face {
    font-family: Roboto-Regular;
    src: url('../fonts/Roboto-Regular.ttf');
  }
  body{
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
  }

  .navbar {
    z-index: 1035;
    font-family: Roboto-Regular;
  }

  .navbar-nav>li>a {
    line-height: 25px;
  }

  .navbar .navbar-nav>li>a svg {
    position: absolute;
    cursor: pointer;
    width: 25px;
    height: 25px;
  }

  .navbar .navbar-nav>li>a span {
    padding-left: 35px;
    cursor: pointer;
    font-family: Roboto-Regular;
    top: 1px;
  }

  .company_logo {
    width: 250px;
  }

  .company_logo {
    text-align: left;
  }

  .company_logo .cmp-logo {
    position: absolute;
    top: -5px;
    left: 49px;
    width: 150px;
    height: 55px;
    background-size: cover;
  }

  .user_logo img {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 12px;
  }

  .container-fluid {
    padding-left: 0px;
  }

  .btn-back {
    visibility: hidden;
    display: none;
  }


  .btn-back {
    visibility: hidden;
    position: absolute;
    width: 40px;
    height: 40px;
    top: -5px;
    left: 2%;
  }

  .btn-back .icon {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: absolute;
    height: 3px;
    width: 30px;
    top: 30px;
    background-color: black;
  }

  .btn-back .icon:before {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: black;
    content: "";
    top: -10px;
  }

  .btn-back .icon:after {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: black;
    content: "";
    top: 10px;
  }

  .btn-back.open .icon {
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  .btn-back.open .icon:before {
    -webkit-transform: rotateZ(45deg) scaleX(0.75) translate(10px, -3px);
    transform: rotateZ(-45deg) scaleX(0.75) translate(-10px, -3px);
  }

  .btn-back.open .icon:after {
    -webkit-transform: rotateZ(-45deg) scaleX(0.75) translate(10px, 3px);
    transform: rotateZ(45deg) scaleX(0.75) translate(-10px, 3px);
  }

  .btn-back:hover {
    cursor: pointer;
  }


  /****************************sidebar section starting************************/

  .sidebar-wrapper {
    display: inline-block;
    width: 250px;
    position: fixed;
    height: 100%;
    top: 57px;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 1030;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .sidebar-wrapper ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    height: 100%;
    overflow: auto;
    margin-left: 10px;
    font-family: Roboto-Regular;
  }

  .sidebar-wrapper ul:first-child {
    margin-top: 30px;
    z-index: 1034;
  }

  .sidebar-wrapper ul li {
    cursor: pointer;
  }

  .sidebar-wrapper ul li a {
    display: block;
    margin: 23px 16px;
    text-decoration: none;
    color: #9cbdc5;
    position: relative;
    cursor: pointer;
  }

  .sidebar-wrapper ul li a svg {
    position: absolute;
    top: -3px;
    cursor: pointer;
  }

  .sidebar-wrapper ul li a span {
    padding-left: 35px;
    cursor: pointer;
  }



  /************************** sidebar wrapper end *********************************/

  .after-sidebar {
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    margin-left: 300px;
    display: inline-block;
    height: 100%;
    /* height: 100vh; */
    position: relative;
    /*top: 57px;*/
    margin-bottom: 105px;
    min-height: 90vh;
  }
  .working-wrapper{
    position: relative;
    top: 57px;
  }

  .work-wrapper {
    margin-left: 2%;
    margin-right: 2%;
  }

  .video-tab-wrapper ul li {
    display: inline-block;
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid #e0e0e0;
  }

  .video-tab-wrapper ul li svg {
    line-height: 10px;
    position: absolute;
  }

  .video-tab-wrapper ul li.active .svgfill {
    fill: red;
  }

  .video-tab-wrapper ul li .svgfill {
    fill: lightgray;
  }

  .video-tab-wrapper ul li span {
    line-height: 10px;
    padding-bottom: 0px;
    padding-left: 28px;
    color: lightgray;
  }

  .video-tab-wrapper ul li.active span {
    color: red;
  }

  .upload-head ul li.active {
    color: red;
    border-bottom: 2px solid red;
  }

  /*floating action button*/

  .waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out;
  }

  .waves-effect .waves-ripple {
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    opacity: 0;
    background: rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    -webkit-transform: scale(0);
    transform: scale(0);
    pointer-events: none;
  }

  .btn-n,
  .btn-large,
  .btn-small {
    text-decoration: none;
    color: #fff !important;
    /*
      background-color: #26a69a;*/
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    cursor: pointer;
    font-family: Roboto-Regular;
  }

  .btn-n,
  .btn-large,
  .btn-small,
  .btn-floating,
  .btn-large,
  .btn-small,
  .btn-flat {
    font-size: 14px;
    outline: 0;
  }

  .btn-n,
  .btn-large,
  .btn-small,
  .btn-flat {
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    padding: 0 20px;
    text-transform: none;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
  }

  .z-depth-1,
  nav,
  .card-panel,
  .card,
  .btn-n,
  .btn-large,
  .btn-small,
  .btn-floating,
  .dropdown-content,
  .collapsible,
  .sidenav {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }

  .z-depth-1-half,
  .btn-n:hover,
  .btn-large:hover,
  .btn-small:hover,
  .btn-floating:hover {
    -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
  }

  .btn-n:focus,
  .btn-large:focus,
  .btn-small:focus,
  .btn-floating:focus {
    background-color: #1d7d74;
  }

  .btn-n i,
  .btn-large i,
  .btn-small i,
  .btn-floating i,
  .btn-large i,
  .btn-small i,
  .btn-flat i {
    font-size: 1.3rem;
    line-height: inherit;
  }

  .material-icons {
    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: 'liga';
    -moz-font-feature-settings: 'liga';
    font-feature-settings: 'liga';
  }

  .material-icons svg {
    margin: 16px;
  }

  .btn-floating.btn-large {
    width: 56px;
    height: 56px;
    padding: 0;
  }

  .btn-large {
    height: 54px;
    line-height: 54px;
    font-size: 15px;
    padding: 0 28px;
  }

  .btn-floating {
    display: inline-block;
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    background-color: #26a69a;
    border-radius: 50%;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    cursor: pointer;
    vertical-align: middle;
  }

  .btn-small .material-icons svg {
    margin: 8px;
  }

  .red {
    background-color: #F44336 !important;
  }

  .btn-small .material-icons svg {
    margin: 8px;
  }

  .fab.btn-small {
    fill: white;
    cursor: pointer;
  }

  .fab.btn-large {
    padding: 12px;
    fill: white;
    cursor: pointer;
  }

  .fabspan {
    content: "";
    background-color: white;
    width: 60px;
    z-index: 1;
    height: 32px;
    border-top-left-radius: 29px;
    border-top-right-radius: 29px;
  }

  .card {
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }

  input[type=text],
  input[type=date] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #BCBCBC;
    outline: none;
    font-family: Roboto-Regular;
    font-size: 14px;
    background-color: transparent;
  }

  input[type=text]:focus,
  input[type=date]:focus {
    border: 1px solid #555;
  }

  .bootstrap-select {
    width: calc(100% - 45px) !important;
    padding: 1px 0px;
    margin: 8px 0;
    cursor: pointer;
  }

  .bootstrap-select button {
    border-radius: 0px;
    padding: 11px 20px;
  }

  .bs-searchbox input {
    border-radius: 0px;
  }

  div.dropdown-menu {
    border-radius: 0px;
  }

  ul.dropdown-menu {
    position: relative;
    width: 100%;
    overflow-x: hidden;
  }

  ul.dropdown-menu li {
    width: 100%;
  }

  .dropdown-menu>.active>a,
  .dropdown-menu>.active>a:focus,
  .dropdown-menu>.active>a:hover {
    background-color: lightgray;
  }

  .dropdown-menu .working-wrapper ul li span {
    color: black;
    padding-left: 0px;
  }

  .dropdown-menu .working-wrapper ul li {
    border-bottom: 0px solid #e0e0e0;
  }

  .input-group {
    position: relative;
    width: 100%;
  }

  .input-group input {
    padding-right: 25px;
  }

  .input-addon-icon {
    position: absolute;
    top: 20px;
    right: 5px;
    left: auto;
  }

  .input-addon-icon svg {
    fill: #BCBCBC;
    cursor: pointer;
  }

  .input-group:focus .input-addon-icon svg {
    fill: #555;
  }

  .input-group:hover .input-addon-icon svg {
    fill: #555;
  }

  textarea {
    outline: none;
    width: 100%;
    resize: vertical;
    margin: 8px auto;
    padding: 12px 20px;
    min-height: 48px;
    max-height: 250px;
    overflow: hidden;
    box-sizing: padding-box;
    border: 1px solid #BCBCBC;
  }

  textarea:focus {
    border: 1px solid #555;
  }

  .nav-tabs {
    border-bottom: 1px solid transparent;
  }

  .nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 0px 0px 0 0;
  }

  .nav-tabs>li.active>a,
  .nav-tabs>li.active>a:focus,
  .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid transparent;
    border-bottom-color: red;
  }

  /*video tabs*/

  .bread-crumb-wrapper {
    text-decoration: none;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .bread-crumb-wrapper a {
    text-decoration: none;
  }

  .video-tab {
    background-color: white;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .video-tab-wrapper {
    margin: 20px;
    font-size: 15px;
  }

  .tab-content {
    background-color: white;
    padding-bottom: 20px;
    margin-top: 20px;
  }

  .tab-content .col-sm-6 {
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  .tab-below {
    padding-bottom: 20px;
  }

  .tab-pane {
    text-align: center;
  }

  .tab-pane .p-heading {
    padding-top: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 12px;
    font-family: Roboto-Light;
  }

  .uploading-button-wrapper {
    align-items: center;
    margin: 20px;
    margin-bottom: 0px;
    border-style: dotted;
    border-width: 1px;
  }

  .uploading-button-wrapper .uploading-svg {
    margin: 10px;
  }

  .uploading-button-wrapper p {
    align-items: center;
    text-align: center;
    margin: 10px;
    font-family: Roboto-Light;
    font-size: 14px;
    margin-bottom: 20px;
  }

  .uploading-button-wrapper p strong {
    font-family: Roboto-Regular;
    font-size: 16px;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  .only-vid {
    display: block;
  }

  .only-vid.active {
    display: none;
    height: 0px !important;
  }

  .only-live {
    display: block;
  }

  .only-live.active {
    height: 0px !important;
    z-index: -1;
  }

  .settings-wrapper {
    background-color: white;
    margin-top: 15px;
    padding-top: 10px;
    margin-bottom: 20px;
  }


  .settings-holder .pre-head label {
    color: lightgray;
  }

  .settings-holder .pre-head h3 {
    padding-top: 0px;
    padding-bottom: 10px;
    margin: 0px;
  }

  /*progress bar*/

  .progress {
    background-color: lightgray;
    border-radius: 0px;
    position: relative;
  }

  .progress p {
    line-height: 30px;
    position: absolute;
    text-align: center;
    margin: auto;
    width: 100%;
    font-family: Roboto-Regular;
    font-size: 14px;
  }

  .progress-bar {
    line-height: 30px;
  }

  .upload-progress-wrapper {
    padding: 10px;
    background-color: white;
    margin: 5px;
    margin-top: 20px;
  }

  .upload-progress {
    width: 100%;
    height: 30px;
    background-color: lightgray;
    position: relative;
  }

  .upload-progress p {
    text-align: center;
    position: absolute;
    top: 0;
    margin: auto;
    width: 100%;
    line-height: 30px;
  }

  .upload-progressed {
    width: 50%;
    height: 30px;
    background-color: red;
    position: absolute;
    top: 0;
  }

  .upload-progress {
    margin-bottom: 20px;
  }

  /*basic and advanced settings*/

  .ba-settings {
    font-size: 14px;
    font-family: Roboto-Regular;
  }

  .ba-settings>li.active>a,
  .ba-settings>li.active>a:focus,
  .ba-settings>li.active>a:hover {
    border: 1px solid transparent;
  }

  .b-settings {
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  .b-settings input {
    width: 100%;
  }

  .input-with-fab {
    width: calc(100% - 45px) !important;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  .input-for-selection {
    border: 1px solid #BCBCBC;
    display: inline-block;
  }

  .input-for-selection p {
    font-family: Roboto-Regular;
    font-size: 14px;
    color: black !important;
  }

  /*live video page*/

  .v-live input {
    width: 100%;
  }

  .v-live-wrapper {
    margin: 20px;
    margin-top: 15px !important;
  }

  /*auxilery assets*/

  .add-to-asset {
    padding: 0px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 100%;
  }

  .add-to-asset p {
    padding: 11px 5px 4px;
    text-align: left;
    color: white;
  }

  .aux-asset {
    margin-top: 10px;
  }

  .aux-asset-logo {
    float: left;
  }

  .aux-asset-logo img {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }

  .aux-asset-logo.no-data img {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }

  .aux-asset-upload-wrapper {
    display: inline-block;
    width: calc(100% - 110px);
  }

  .aux-asset-upload-wrapper p {
    padding-top: 0px;
    margin: 0;
    text-align: left;
    padding-bottom: 5px;
  }

  .aux-asset-uploader {
    height: 5px;
    background-color: lightgray;
  }

  .aux-asset-uploding {
    width: 0%;
    height: 5px;
  }

  .aux-asset-edit {
    display: inline-block;
    float: right;
    position: relative;
    width: 55px;
    top: 10px;
  }

  .aux-asset-edit a {
    cursor: pointer;
  }

  .aux-asset-edit a:focus svg {}

  .aux-asset-edit a:hover svg {}

  .aux-asset-edit .delete {
    float: right;
  }

  .uploaded-aux ul {
    list-style: none;
    float: left;
    padding-left: 0px;
  }

  .uploaded-aux ul>li>a {
    text-decoration: none;
  }

  .uploaded-aux ul>li>a>span>img {
    width: 60px;
    height: 60px;
    margin: 5px;
  }

  .uploaded-aux ul>li>a>span>p {
    word-wrap: break-word;
    display: list-item;
    width: 60px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 0px;
    padding-top: 0px;
    margin: 0px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .uploaded-aux ul>li>a>span {
    position: relative;
  }

  .uploaded-aux ul>li>a>span .uploaded-aux-delete {
    position: absolute;
    right: 3px !important;
    top: -25px !important;
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }

  .uploaded-aux ul>li>a>span .uploaded-aux-delete>svg {
    margin-top: 2px;
  }

  /*save and cancel button*/


  .ending-part .eding-wrapper {
    display: block;
    padding-bottom: 20px;
    text-align: right;
    clear: both;
  }
  .right {
    float: right;
  }

  .ending-part .eding-wrapper .end-buttons a {
    margin-left: 10px;
  }

  .ending-part .end-checkbox {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .ending-part .end-checkbox label {
    cursor: pointer;
    padding-right: 75px;
  }

  .cnfrm-block {
    margin-top: 20px;
    float: right;
  }

  .cnfrm-block .cnfrm {
    float: right;
  }

  .cnfrm-block .cnfrm a {
    margin-left: 10px;
  }

  .caret {
    display: none;
  }

  .dropdown-icon-arrow {
    position: absolute;
    right: 65px;
    z-index: 5;
    top: 20px;
    pointer-events: none;
  }

  .dropdown-pop {
    position: absolute;
    padding: 0px 0px;
    margin: 0px 0px;
    margin-right: 10px;
    padding-right: 10px;
    z-index: 10;
    width: 100%;
  }

  .dropdown-pop .show {
    display: block;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  .dropdown-pop .hide {
    display: none;
  }

  .dropdown-pop-wrapper {
    position: relative;
    background-color: white;
    margin: 0px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: .5px solid lightgrey;
    display: none;
    z-index: 10;
  }

  .dropdown-pop-wrapper:before {
    right: 50%;
    content: '';
    display: block;
    position: absolute;
    bottom: 100%;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-color: gray;
  }

  .dropdown-pop-wrapper:after {
    right: calc(50% + 1px);
    content: '';
    display: block;
    position: absolute;
    bottom: 100%;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-bottom-color: white;
  }

  .dropdown-pop-wrapper .search-wrapper {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-top: 10px;
  }

  .dropdown-pop-wrapper .search-wrapper input[type=text] {
    padding: 6px 30px;
  }

  .dropdown-pop-wrapper .search-wrapper span {
    position: absolute;
    top: 25px;
    left: 25px;
  }

  .dropdown-pop-wrapper .search-wrapper span svg {
    fill: gray;
  }

  .dropdown-pop-wrapper ul {
    list-style: none;
    padding-left: 0px;
    margin-left: 0px;
    max-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 0px;
  }

  .dropdown-pop-wrapper ul li {
    text-align: left;
    cursor: pointer;
    line-height: 30px;
  }

  .dropdown-pop-wrapper ul li:hover {
    background-color: lightgray;
  }

  .dropdown-pop-wrapper ul li a {
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
  }

  .dropdown-pop-wrapper ul li a label input {
    width: auto;
    line-height: 30px;
    top: 10px;
    margin-top: 15px;
  }

  .dropdown-pop-wrapper ul li a label {
    width: 100%;
    line-height: 30px;
    cursor: pointer;
    margin-bottom: 0px;
  }

  .dropdown-pop-wrapper ul li a label span {
    padding-left: 10px;
    color: black;
    line-height: 30px;
  }

  .dropdown-pop-wrapper ul li {
    text-align: left;
    cursor: pointer;
    line-height: 30px;
  }

  .dropdown-pop-wrapper ul.multi-select- li:hover {
    background-color: lightgray;
  }

  .dropdown-pop-wrapper ul.multi-select- li a {
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
  }

  .dropdown-pop-wrapper ul.multi-select- li a label input {
    width: auto;
    line-height: 30px;
    top: 10px;
    margin-top: 15px;
  }

  .dropdown-pop-wrapper ul.multi-select- li a label {
    width: 100%;
    line-height: 30px;
    cursor: pointer;
    margin-bottom: 5px;
  }

  .dropdown-pop-wrapper ul.multi-select- li a label span {
    line-height: 30px;
    padding-left: 10px;
    color: black;
  }

  .dropdown-pop-wrapper .create-new-group .new-user-text {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    cursor: pointer;
    border-top: 1px solid lightgrey;
    background-color: white;
    display: block;
  }

  .dropdown-pop-wrapper .create-new-group .new-user-text.show {
    display: block;
  }

  .dropdown-pop-wrapper .create-new-group .new-user-text.hide {
    display: none;
  }

  .dropdown-pop-wrapper .create-new-group .new-user.show {
    display: block;
  }

  .dropdown-pop-wrapper .create-new-group .new-user.hide {
    display: none;
  }

  .dropdown-pop-wrapper .create-new-group .new-user {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    border-top: 1px solid lightgrey;
    background-color: white;
    display: none;
  }

  .dropdown-pop-wrapper .create-new-group .new-user-text:hover {
    background-color: lightgrey;
  }

  .dropdown-pop-wrapper .create-new-group .new-user-text a {
    text-decoration: none;
    line-height: 20px;
    color: black;
  }

  .dropdown-pop-wrapper .create-new-group div input {
    padding: 6px 10px !important;
    margin: 4px 2px;
    box-sizing: border-box;
    border: 1px solid #BCBCBC;
    outline: none;
    font-family: Roboto-Regular;
    font-size: 14px;
    background-color: transparent;
    width: calc(100% - 100px) !important;
  }

  .dropdown-pop-wrapper .create-new-group .div a {
    display: inline-block;
  }

  .colord-heading h3 {
    margin-left: 20px;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  /*edit asset page */

  .edit-asset {
    padding-top: 0px;
  }

  .media-holder {
    /* height: 30vw; */
    position: relative;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    background: url('../images/thumb/full.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .media-player-holder {
    height: 100%;
    object-fit: contain;
    width: 100%;
  }

  .play-button.hide {
    display: none;
  }

  .play-button.show {
    display: block;
  }

  .play-button {
    display: block;
    width: 50px;
    height: 50px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }

  .thumb-holder {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    display: block;
    align-items: center;
  }

  .thumb-holder ul {
    padding-left: 0px;
  }

  .thumb-holder ul li {
    display: inline-block;
    position: relative;
  }

  .thumb-holder ul li a label {
    cursor: pointer;
    pointer-events: all;
  }

  .thumb-holder ul li a span {
    cursor: pointer;
  }

  .thumb-holder ul li a span img {
    width: 10vmax;
  }

  .thumb-holder ul li a label input[type=radio] {
    position: absolute;
    right: 0;
    z-index: 10;
  }
  .permission-right-main .mat-checkbox-frame {
    border-width: 1px !important;
    border-radius: 0 !important;
}
.ui-datepicker {
  right: 0;
}
.ui-calendar .ui-calendar-button {
  position: absolute;
  height: 46px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  width: 3em;
  border-left: 0 none;
  right: 0;
  top: 8px;
}



  @media (min-width: 768px) {
    .navbar {
      border-radius: 0px;
    }
  }

  @media (max-width: 819px) {
    .navbar-nav {
      display: table;
    }
    .navbar-nav>li {
      display: grid;
    }
  }

  @media screen and (max-width: 844px) {
    .sidebar-wrapper {
      width: 0px !important;
      padding:0px !important;
    }

    .sidebar-wrapper.open {
      width: 250px !important;
    }

    .sidebar-wrapper ul {
      margin-left: 0px !important;
      position: relative !important;
    }

    .btn-back {
      visibility: visible !important;
      display: block;
      -webkit-transition-duration: 0.5s;
      transition-duration: 0.5s;
    }

    .after-sidebar {
      margin-left: 10px;
    }
  }

  @media (max-width: 1365px) {
    .asset-title{
      margin-left: 25% !important;
  }

  }



/* custom style by vishnu start*/

.cursor-hand {
    cursor: pointer;
 }

 .mat-paginator-page-size-label{
    width:auto;
    min-width: 90px;
 }
 .tbl_head {
  font-size: 17px;
}

.customtag input{
  border: none !important;
  padding-left: 0px !important;
}


.acceptButton{
  background-color: #0f7486 !important;
    border-color: #0f7486  !important;
    color: #fff  !important;
}
.rejectButton{
  background-color: #F44336 !important;
  border-color: #F44336  !important;
    color: #fff  !important;
}


 /* custom style by vishnu end*/



 /* custom styles by libin */

 .sidebar-wrapper{
   left: 0;
 }
 .mat-table-container {
  max-height: 630px;
}
.video-tab {
  padding-bottom: 0;
  padding-top: 0;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  border-bottom: 3px solid #ff0000;
  position: relative;
  top: 1px;
}
.mat-form-field-label-wrapper {
  font-size: 18px;
}
#live .mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label, 
#live .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  -webkit-transform: translateY(-0.5em) scale(.75) perspective(100px) translateZ(.001px);
  transform: translateY(-0.5em) scale(.75) perspective(100px) translateZ(.001px);
  -ms-transform: translateY(-0.5em) scale(.75);
  width: 133.33333%;
}
/*.mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label, 
.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  -webkit-transform: translateY(-0.28125em) scale(.75) perspective(100px) translateZ(.001px);
  transform: translateY(-0.28125em) scale(.75) perspective(100px) translateZ(.001px);
  -ms-transform: translateY(-0.28125em) scale(.75);
}*/
input.colorbtn {
  width: 22px !important;
  margin: 10px 10px 10px 0 !important;
}
button.useraddgroupicon {
  background: var(--customtoolbar-backcolor) !important;
}
.view-profile a{
  background: var(--customtoolbar-backcolor) none repeat scroll 0 0;
}

.view-profile a:hover{
  background-color: #000; 
}
.sortable-container .sortable-header .sortable-buttons button{
  border: 1px solid #848484 !important;
  background: #848484 !important;
}
.sortable-container .sortable-list .active{
  background: #ed9850 !important;
}
.footer-main{
  z-index: 1030; position: relative;padding: 0 0;
}



 @media (max-width:1024px){
.after-sidebar {
    width: 68%;
    top: 65px;
}
.sidebar-wrapper {
  top: 50px;
}
.navbar {
  padding: 0 0;
}
.navbar-header {
  float: none;
}
.navbar-toggle {
  display: block;
}
.navbar-collapse {
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}
.navbar-collapse.collapse {
  display: none!important;
}
.navbar-nav {
  float: none!important;
  margin: 0 -15px;
  display: inherit;
}
.navbar-nav>li {
  float: none;
  padding: 0 25px;
  border-bottom: solid 1px #dedede;
}
.navbar-right>li{
  border-bottom: none;
}
.navbar-nav>li>a {
  padding-top: 10px;
  padding-bottom: 10px;
}
.collapse.in{
  display:block !important;
}
.company_logo {
  width: auto;
  margin-left: 0px !important;
}
.company_logo img{
  max-width: 80%;
}
.navbar-toggle {
  margin-right: 15px;
}
.navbar .container-fluid {
  padding-left: 0;
  padding-right: 0;
}
.mat-table-container {
  max-height: 750px;
}
.mug-table-widget{
  width: 100%;
}
.working-wrapper {
  top: 0px;
}
}

@media (max-width:768px){
  .after-sidebar {
    width: 100%;
    margin-left: 0;
    padding-right: 15px;
    padding-left: 30px;
}
.sidebar-wrapper {
  width: 250px !important;
  padding: 0px !important;
  left: -260px;
}
.sidebar-wrapper.active {
  left: 0;
  width: 250px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.navbar-toggle {
  margin-right: 20px;
}
.company_logo {
  margin-left: 70px !important;
}
.btn-back {
  left: 17px;
}
.footer-main {
  width: 100%;
  float: left;
}
.footer-main .mat-toolbar-single-row {
  display: block;
  height: auto;
  float: left;
}
.footer-main .mat-toolbar-single-row .left {
  width: 100%;
  text-align: center;
}
.footer-main .mat-toolbar-single-row .right {
  float: right;
  text-align: right;
  width: 100%;
}
.footer-main .parentCompanylogo {
  float: none !important;
}
}

@media (max-width:480px){
  .after-sidebar {
    width: 99%;
    margin-left: 0;
    top: 0;
}
.mat-table {
  width: 100%;
}
.fixed-table-toolbar .btn-group > .btn-group {
  position: relative;
  top: 15px;
  right: -15px;
}
button.useraddgroupicon {
  right: 35px !important;
  top: 35px !important;
}
.settings-holder .nav>li>a {
  position: relative;
  display: block;
  padding: 10px 10px;
}
.footer-main .mat-toolbar-single-row .left {
  display: none;
}
.working-wrapper {
  top: 57px;
}
}


  /* custom styles by libin end */
